<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Please also have a look at my other resources:</h2>
<ul>
  <li>
    <h3><a [href]="urls[0].url">{{urls[0].title}}</a></h3>
  </li>
  <li>
    <h3><a href="urls[1]?.url">{{urls[1]?.title}}</a></h3>
  </li>
  <li>
    <h3><a href="urls[2]?.url">{{urls[2]?.title}}</a></h3>
  </li>
  </ul>
<h2>Other useful resources</h2>
<ul>
  <li *ngFor="let resource of resources; index as i">
    <a [href]="resource.url">{{ i + 1 }}.  {{ resource.title ? resource.title : resource.url }}</a>
  </li>
</ul>
<button (click)="log1();log2()">log 1 and log 2</button>
